<template>
<section class="seventh_section" id="FormBottom">
    <div class="container">
      <div class="row">
        <div class="second_form" id="second_form">
          <h3>
              {{ $t('main.whiteFirst') }}<span class="color_span">{{ $t('main.orange') }}</span> {{ $t('main.whiteSecond') }}
          </h3>
<ContactForm />
          </div>
          </div>
          </div>
          </section>
</template>

<script>
import _trademark from '@/variables.js'
import ContactForm from '../ContactForm.vue';
export default {
  name: "FaqTop",
    components: { ContactForm },
  data() {
    return {
      trademark: _trademark,
    }
  }
};
</script>
