<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="footer_wrapper">
          <div class="copy_text">{{ $t('foot.text') }}</div>
          <div class="logo">
            <a href="#"><img src="../../assets/img/logo.svg" alt="logo"></a>
          </div>
          <p> {{ $t('foot.copyright') }}</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import ContactForm from '../ContactForm.vue';

export default {
  name: "Footer",
  components: { ContactForm },
  data() {
    return {
      dialog: false,
      selectedLocale: {
        lang: "Russian",
        locale: "ru",
        img: require(`@/assets/img/lang/ru.png`)
      },
      allLocales: [
        {
          lang: "Swedish",
          locale: "sv",
          img: require('@/assets/img/lang/sv.png')
        },
        {
          lang: "Spanish",
          locale: "es",
          img: require('@/assets/img/lang/es.png')
        },
        {
          lang: "Russian",
          locale: "ru",
          img: require('@/assets/img/lang/ru.png')
        },
        {
          lang: "Italian",
          locale: "it",
          img: require('@/assets/img/lang/it.png')
        },
        {
          lang: "French",
          locale: "fr",
          img: require('@/assets/img/lang/fr.png')
        },
        {
          lang: "Finnish",
          locale: "fi",
          img: require('@/assets/img/lang/fi.png')
        },
        {
          lang: "Dutch",
          locale: "nl",
          img: require('@/assets/img/lang/nl.png')
        },
        {
          lang: "Danish",
          locale: "da",
          img: require('@/assets/img/lang/da.png')
        },
        {
          lang: "German",
          locale: "de",
          img: require('@/assets/img/lang/de.png')
        },
        {
          lang: "English",
          locale: "en",
          img: require('@/assets/img/lang/en.png')
        }
      ],
    };
  },
  methods: {
    changeLocale(_loc) {
      const selectedLanguage = this.allLocales.filter(lang => lang.locale == _loc)
      this.selectedLocale = {
        lang: selectedLanguage[0].lang,
        locale: selectedLanguage[0].locale,
        img: selectedLanguage[0].img
      };

      this.$i18n.locale = this.selectedLocale.locale;
      localStorage.setItem("locale", this.selectedLocale.locale);
    },
  },
};
</script>

<style scoped>
.footer {
  padding-bottom: 70px;
}

.footer-brands {
  max-width: 90%;
}



.get_start_bottom_btn {
  display: block;
  text-align: center;
  background-color: #ce1516;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 0 auto;
  box-shadow: 0px 4px 0 0 #9b0700;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 15px 8px;
  width: 100%;
  max-width: 260px;
  transition: 0.5s ease;
}

.get_start_bottom_btn:hover {
  background-color: #d83233;
}

.footer-wrapper {
  font-family: "Lato", sans-serif;
  padding: 30px 20px;
}

a {
  cursor: pointer;
}

.lang-img {
  width: 25px;
  margin: 0 3px;
}

p.footer-text {
  font-size: 1rem;
  margin-bottom: 30px;
}

.google-play-img {
  width: 180px;
}

@media (min-width: 991px) {
  .footer-wrapper {
    padding: 30px 0;
  }


  .footer-brands {
    max-width: 80%;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-bottom: 0;
  }
}
</style>