<template>

  <header>
    <div class="container">
      <div class="row">
        <div class="header_wrapper">
          <div class="logo">
            <a href="#"><img src="../../assets/img/logo.svg" alt="logo"></a>
          </div>
          <nav class="header_nav">
            <ul>
              <li>
                <a href="#about">{{ $t('header.menuItemOne') }}</a>
              </li>
              <li>
                <a href="#advantage">{{ $t('header.menuItemTwo') }}</a>
              </li>
              <li>
                <a href="#deal">{{ $t('header.menuItemThree') }}</a>
              </li>
              <li>
                <a href="#how_works">{{ $t('header.menuItemFour') }}</a>
              </li>
              <li>
                <a href="#instruction">{{ $t('header.menuItemFive') }}</a>
              </li>
              <li>
                <div class="btn_a"><a href="#second_form">{{ $t('header.menuFormName') }}</a></div>
              </li>
            </ul>
          </nav>
          <div id="mySidebar" class="sidebar">
            <a href="#" class="closebtn" onclick="closeNav()"><img src="../../assets/img/close_btn.png"></a>
            <a href="#about">{{ $t('header.menuItemOne') }}</a>
            <a href="#advantage">{{ $t('header.menuItemTwo') }}</a>
            <a href="#deal">{{ $t('header.menuItemThree') }}</a>
            <a href="#how_works">{{ $t('header.menuItemFour') }}</a>
            <a href="#instruction">{{ $t('header.menuItemFive') }}</a>
            <div class="btn_a"><a href="#second_form">{{ $t('header.menuFormName') }}</a></div>
          </div>
          <button class="openbtn" onclick="openNav()">
            <img src="../../assets/img/collapse_btn.svg">
          </button>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import _trademark from '@/variables.js'
export default {
  name: "Header",
  data() {
    return {
      trademark: _trademark,
    }
  }
};
</script>

