<template>
  <section class="sixth_section" id="instruction">
    <div class="container">
      <div class="row">
        <h2>
            {{ $t('hoItWorks.title') }}
        </h2>
        <div class="advantage_wrapper instruction">
          <div class="advantage_card">
            <img src="../../assets/img/Group.svg" alt="icon">
            <p class="card_text">{{ $t('hoItWorks.itemOne') }}</p>
          </div>
          <div class="advantage_card">
            <img src="../../assets/img/Group1.svg" alt="icon">
            <p class="card_text">{{ $t('hoItWorks.itemTwo') }}</p>
          </div>
          <div class="advantage_card">
            <img src="../../assets/img/Group2.svg" alt="icon">
            <p class="card_text">{{ $t('hoItWorks.itemThree') }}</p>
          </div>
          <div class="advantage_card">
            <img src="../../assets/img/Group3.svg" alt="icon">
              <p class="card_text">
{{ $t('hoItWorks.itemFour') }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import _trademark from '@/variables.js'
import ContactForm from '../ContactForm.vue';

export default {
  name: "HowItWorks",
  components: { ContactForm },
  data() {
    return {
      trademark: _trademark,
      dialog: false,
    };
  },
};
</script>

