<template>
<section class="section-two companies section investment-comp">
<div class="container">
<div class="section__row">
<div class="companies__wrapper">
<h2 class="section__title">{{ $t('comp.title') }}</h2>
<p class="section__text">{{ $t('comp.subTitle') }}</p>
<div class="comp__logos">
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item1.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemOne') }}</span>
</div>
</div>
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item2.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemTwo') }}</span>
</div>
</div>
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item3.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemThree') }}</span>
</div>
</div>
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item4.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemFour') }}</span>
</div>
</div>
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item5.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemFive') }}</span>
</div>
</div>
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item6.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemSix') }}</span>
</div>
</div>
 <div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item7.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemSeven') }}</span>
</div>
</div>
<div class="logo__item">
<div class="logo__item-left">
<img src="../../assets/img/item8.svg" alt="company logo">
</div>
<div class="logo__item-right">
<span class="logo__item-right-text">{{ $t('comp.itemEight') }}</span>
</div>
</div>
</div>
<p class="section__text section__text-bottom">{{ $t('comp.bottomText') }}</p>
<div class="btn-wrapper">
<a href="#FormBottom" class="grid-btn">{{ $t('comp.btn') }}</a>
</div> 
</div>
</div>
</div></section>
</template>