<template>

  <section class="second_section" id="about">
    <div class="container">
      <div class="row">
        <h2>{{ $t('secondScreen.title') }}</h2>
        <p>
{{ $t('secondScreen.textOne') }}</p>
        <hr class="col-xs-12">
        <p class="blockqoute">
           {{ $t('secondScreen.textTwo') }}
        </p>
        <hr class="col-xs-12">
      </div>
    </div>
  </section>
</template>

<script>
import _trademark from '@/variables.js'
export default {
  name: "JoinUs",
  data() {
    return {
      trademark: _trademark,
    };
  },
};
</script>

<style scoped>
.join-us {
  margin-top: 250px;
}

.join-us h2 {
  font-size: 1.7rem;
  line-height: 1;
  color: #322580;

    margin-bottom: 20px;
}
.join-us p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.join-us-bottom h6 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #6a449b;
  margin-top: 30px;
  margin-bottom: 20px;
}

.seenon {
  width: 80%;
}

.woman-block {
  position: relative;
  margin-top: 340px;
}

.woman-block img {
  max-width: 680px;
  position: absolute;
  top: -320px;
  left: 50px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media (min-width: 650px) {
  .woman-block img {
    width: 650px;
  }
}

@media (min-width: 960px) {
  .woman-block {
    margin-top: 0;
  }
  .woman-block img {
    max-width: 680px;
    position: absolute;
    top: -320px;
    left: 50px;
  }
  .seenon {
    width: 100%;
  }
  .join-us-top {
    text-align: left;
  }
  .join-us h2 {
        font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 0;
}
.join-us p {
  margin-top: 30px;
}
}
</style>