<template>

<section class="third_section" id="advantage">
    <div class="container">
      <div class="row">
        <h2>
          {{ $t('advantages.title') }}
        </h2>
        <div class="advantage_wrapper">
          <div class="advantage_card">
            <img src="../../assets/img/percent.svg" alt="icon">
            <p class="card_text">{{ $t('advantages.itemOne') }}</p>
          </div>
          <div class="advantage_card">
            <img src="../../assets/img/speed.svg" alt="icon">
            <p class="card_text">{{ $t('advantages.itemTwo') }}</p>
          </div>
          <div class="advantage_card">
            <img src="../../assets/img/copa.svg" alt="icon">
            <p class="card_text">{{ $t('advantages.itemThree') }}</p>
          </div>
          <div class="advantage_card">
            <img src="../../assets/img/scal.svg" alt="icon">
            <p class="card_text">{{ $t('advantages.itemFour') }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import _trademark from '@/variables.js'
export default {
  name: "Testimonial",
  data() {
    return {
      trademark: _trademark,
    }
  }
};
</script>

