<template>

  <section class="first_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="video_section">
            <div class="video">
             <iframe src="https://player.vimeo.com/video/740843459?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;muted=1&amp;loop=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="InvestChecker-2"></iframe>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="form" id="first_form">
            <h3>
                
            {{ $t('main.whiteFirst') }}<span class="color_span">{{ $t('main.orange') }}</span> {{ $t('main.whiteSecond') }}
            </h3>
            <ContactForm/>
          </div>
        </div>
      </div>

    </div>
    

  </section>
</template>

<script>
import _trademark from '@/variables.js'
import ContactForm from '../ContactForm.vue';

export default {
  name: "TitleBar",
  components: { ContactForm },
  data() {
    return {
      trademark: _trademark,
    };
  },
};
</script>


