<template>
<section class="section-three section investment-sec">
<div class="container">
<div class="section__row">
<div class="section__column">
<h2 class="section__title">{{ $t('whatcan.title') }}</h2>
</div>
<div class="why">
<div class="why__item">
<div class="why__item-left">
<div class="why__item-left-wrap">
<img src="../../assets/img/nofees_icon.svg" alt="" class="why__item-img">
</div>
</div>
<div class="why__item-right">
<h3 class="why__item-title">{{ $t('whatcan.fitstItemTitle') }}</h3>
<p class="section__text why__item-description">{{ $t('whatcan.fitstItemText') }}</p>
</div>
</div>
<div class="why__item">
<div class="why__item-left">
<div class="why__item-left-wrap">
<img src="../../assets/img/recommend_icon.svg" alt="" class="why__item-img">
</div>
</div>
<div class="why__item-right">
<h3 class="why__item-title">{{ $t('whatcan.secondItemTitle') }}</h3>
<p class="section__text why__item-description">{{ $t('whatcan.secondItemText') }}</p>
</div>
</div>
<div class="why__item">
<div class="why__item-left">
<div class="why__item-left-wrap">
<img src="../../assets/img/answer_icon.svg" alt="" class="why__item-img">
</div>
</div>
<div class="why__item-right">
<h3 class="why__item-title">{{ $t('whatcan.thirdItemTitle') }}</h3>
<p class="section__text why__item-description">{{ $t('whatcan.thirdItemText') }}</p>
</div>
</div>
<div class="why__item">
<div class="why__item-left">
<div class="why__item-left-wrap">
<img src="../../assets/img/stat_icon.svg" alt="" class="why__item-img">
</div>
</div>
<div class="why__item-right">
<h3 class="why__item-title">{{ $t('whatcan.fouthItemTitle') }}</h3>
<p class="section__text why__item-description">{{ $t('whatcan.fouthItemText') }}</p>
</div>
</div>
</div>
<div class="btn-wrapper">
<a href="#FormBottom" class="grid-btn">{{ $t('whatcan.btn') }}</a>
</div>
</div>
</div>
</section>
</template>
<script>
import _trademark from '@/variables.js'
export default {
  name: "whatCan",
  data() {
    return {
      trademark: _trademark,
    };
  },
};
</script>