@media (min-width: 1264px){

.container {
    max-width: 1140px!important;
}
}
#leadform1 .form_message
{
    display: none;
  }
#deal .row{
  flex-direction: column;
}

* {
    box-sizing: border-box;
  }
  html {
    font-size: 18px;
  }
  body {
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif!important;
    font-weight: 400;
    color: rgba(118, 128, 143, 1);
    line-height: 27px;
    background-color: #1e2026!important;
  }
  .first_section,.second_section,.third_section,.fourth_section,.fifth_section,.sixth_section,footer{
    font-size: 1rem;
    font-family: "IBM Plex Sans", sans-serif!important;
    font-weight: 400;
    color: rgba(118, 128, 143, 1);
    line-height: 27px;
    background-color: #1e2026!important;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    color: rgba(230, 232, 234, 1);
    margin-top: 30px !important;
    text-align: center;
    width:100%;
  }
  .video { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; }
  .video img { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; cursor: pointer; }
  /*.video:after { content: ""; position: absolute; display: block;
    background: url("../img/play-button.png") no-repeat 0 0;
    top: 50%; margin-top:-31px; left: 50%; margin-left:-31px; width: 62px; height: 62px; z-index: 30; cursor: pointer; }*/

  .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  /* image poster clicked, player class added using js */
  .video.player img { display: none; }
  .video.player:after { display: none; }
  /* header */
  header {
    background-color: #2b2f36;
    max-height: 85px;
  }
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width:100%;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .openbtn {
    border: none;
    background-color: transparent;
  }
  .header_nav {
    display: none;
  }
  .iti__flag-container {
    height: 50px;
  }
  .sidebar {
    height: 550px;
    width: 0;
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    background-color: #1e2026;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    color: #6c6c6c;
    width: 65px;
  }
  .sidebar a {
    padding-left: 30px;
    padding-bottom: 36px;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    display: block;
    transition: 0.3s;
    font-size: 26px;
    font-weight: 700;
    width: 270px;
  }
  .btn_a {
    display: block;
    max-width: 222px;
    max-height: 46px;
    margin-left: 30px;
    background: rgba(240, 185, 11, 1);
    border-radius: 10px;
  }
  .sidebar .btn_a {
    border-radius: 100px;
    max-width: 270px;
    color: rgba(51, 51, 51, 1);
  }
  .btn_a a {
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    display: block;
    width: 270px;
    height: 53px;
    text-align: center;
    padding-left: 0;
    padding-top: 8px;
    font-weight: 600;
  }
  /* header */

  /* first section */
  video {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .video video {
    margin: auto;
    object-fit: cover;
  }
  video:focus {
    outline: none;
  }
  .first_section h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #e6e8ea;
    max-width: 345px;
  }
  .color_span {
    color: rgba(240, 185, 11, 1);
  }
  .first_section form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input_wrapper {
    display: flex;
    flex-direction: column;
    width: 345px;
  }
  .input_wrapper input {
    background-color: #2c2f38;
    color: #fff;
    margin-bottom: 15px;
    height: 48px;
    font-size: 0.9rem;
    border-radius: 10px;
    padding-left: 20px;
    font-weight: 300;
    border: none;
  }
  input:focus {
    outline: none;
  }
  ::placeholder {
    color: rgba(82, 87, 101, 1);
  }
  label {
    padding-bottom: 5px;
    margin-top: -8px;
    font-size: 16px;
    color: #fff;
  }
  #phone1 {
    width: 345px;
  }
  #phone1-error {
    position: absolute;
    left: 0;
    bottom: -35px;
  }
  #phone2-error {
    position: absolute;
    left: 50%;
    margin-left: -72px;
    bottom: -35px;
  }

  .iti {
        /*color: white;*/
      font-size: 16px;
     /* padding: 4px;
      padding-left: 0px;*/
  }

  .iti--separate-dial-code .iti__selected-dial-code {
      color: #fff;
  }

  .iti__selected-flag,
  .iti__selected-flag:focus {
    border-radius: 10px;
    outline: none;
  }

  .first_section .submit_btn {
    height: 48px;
    background: rgba(240, 185, 11, 1);
    border-radius: 10px;
    border: none;
    color: rgba(34, 34, 34, 1);
    font-size: 16px;
    font-weight: 600;
    width: 160px;
    margin-top: 30px;
  }
  /* first section */

  /* second section */
  .second_section hr {
    margin: auto;
    max-width: 345px;
    width: 100%;
    height: 2px;
    background-color: rgba(240, 185, 11, 1);
    opacity: 1;
    padding-left: 13.5px;
    padding-right: 13.5px;
    margin-bottom: 10px;
  }
  .blockqoute {
    color: rgba(205, 205, 205, 1);
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* second section */

  /* third section */
  .advantage_card {
    background: #2b2f36;
    border-radius: 10px;
    width: 100%;
    max-width: 340px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 226px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .advantage_card img {
    width: 94px;
    height: 94px;
  }
  .card_text {
    text-align: center;
  }
  /* third section */

  /* fourth section */
  .deal {
    background-color: #1e2026;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(118, 128, 143, 1);
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 30px;
    max-width: 345px;
    margin: auto;
    margin-bottom: 15px;
    column-gap: 20px;
    transition: opacity 2000ms;
    will-change: opacity;
  }
  .faded-out {
    opacity: 0;
  }
  .time,
  .sum {
    text-align: right;
    align-self: center;
  }
  .crypto,
  .eqivalent {
    text-align: left;
    height: 26.8px;
  }
  .time span {
    font-size: 16px;
  }
  .deal img {
    margin-right: 0px;
    width: 50px;
  }
  .time img {
    width: 20px;
  }
  .roi {
    grid-column-start: span 2;
    text-align: center;
    color: rgba(0, 209, 22, 1);
  }

  .deals_header {
    display: none;
  }
  .form_link {
    height: 48px;
    background: rgba(240, 185, 11, 1);
    border-radius: 10px;
    border: none;
    color: rgba(34, 34, 34, 1);
    font-size: 16px;
    font-weight: 600;
    width: 194px;
    margin: auto;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    padding-top: 9px;
  }
  .form_link:hover,
  .form_link:visited {
    text-decoration: none;
    color: rgba(34, 34, 34, 1);
  }
  /* fourth section */

  /* fifth section */
  .arrow {
    display: none;
  }
  .fifth_section {
    text-align: center;
  }
  .investment_card.first {
    margin-bottom: 20px;
  }
  .investment_card {
    margin: auto;
    padding: 20px;
    background-color: #1e2026;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 100%;
    max-width: 345px;
    display: flex;
    flex-direction: column;
  }
  .investment_card p {
    margin-bottom: 5px !important;
    font-style: 20px;
    text-align: left;
  }
  .investment_card input,
  .result {
    background-color: #2c2f38;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 13px;
    justify-self: start;
    max-width: 235px;
    height: 42px;
  }
  .result {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }
  .result p {
    padding: 0;
  }
  .investment_card img {
    width: 45px;
  }
  .crypto_result {
    display: flex;
    margin-top: 20px;
    gap: 12px;
  }
  .crypto_result span {
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    display: flex;
  }
  /* fifth section */

  /* sixth section */
  .instruction .advantage_card {
    background-color: #1e2026;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
  }
  .instruction .advantage_card img {
    width: 66px;
  }
  .instruction {
    margin-bottom: 30px;
  }
  /* sixth section */

  /* seventh section */
  .seventh_section {
    background-image: url('~@/assets/img/bg_d.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .seventh_section .submit_btn {
    height: 56px;
    background: rgba(240, 185, 11, 1);
    border-radius: 10px;
    border: none;
    color: rgba(34, 34, 34, 1);
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    width:280px;
  }
  .second_form {
    margin: auto;
    padding: 20px;
    background-color: #2b2f36;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    max-width: 345px;
    width: 100%;
  }
  .second_form h3 {
    font-weight: 700;
    color: white;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
  .second_form .input_wrapper {
    align-items: center;
    width:100%;
  }
  .second_form input,
  #phone2 {
    background-color: #393b43;
    width:280px;
    height:48px;
  }
  /* seventh section */

  /* footer */
  footer {
    height: 116px;
  }
  footer p {
    color: rgba(125, 125, 125, 1);
    font-size: 20px;
    text-align: right;
    margin: 0;
    font-family: "Nunito", sans-serif;
    padding-bottom: 20px;
  }
  .footer_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 116px;
  }
  .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* footer */

  @media (min-width: 768px) {
    h2 {
      margin-top: 50px !important;
      margin-bottom: 20px !important;
    }
    /* header */
    /* header */

    /* first section */
    .first_section {
      padding-top: 30px;
    }
    .first_section h3 {
      font-size: 21px;
      max-width: 330px;
      margin-bottom: 10px;
    }
    .input_wrapper input {
      width: 330px;
    }
    #phone1 {
      width: 330px;
    }

    /* first section */
    video {
      padding-top: 0;
    }
    /* second section */
    .blockqoute {
      font-size: 32px;
      line-height: 41px;
    }
    .second_section hr {
      max-width: 690px;
      margin: auto;
    }
    /* second section */

    /* third section */
    .advantage_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      width:100%;
    }
    .advantage_card {
      margin-bottom: 0;
    }
    /* third section */

    /* fourth section */
    .deals_header {
      display: grid;
      grid-template-columns: 0.8fr 1.2fr 1.2fr 1fr 1fr;
      column-gap: 10px;
      padding: 20px;
      background-color: #1e2026;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      margin-bottom: 15px;
      width: 100%;
    }
    .deals_wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .roi {
      grid-column-start: 5;
    }
    .time,
    .sum {
      text-align: left;
      align-self: center;
    }
    .crypto,
    .eqivalent {
      text-align: left;
    }
    .deals_header span {
      font-size: 20px;
      color: rgba(180, 188, 200, 1);
    }
    .deal {
      padding: 20px;
      grid-template-columns: 0.8fr 1.2fr 1.2fr 1fr 1fr;
      column-gap: 10px;
      width: 100%;
      max-width: 100%;
    }
    .deal img {
      margin-right: 7px;
      width: 40px;
    }
    .time img {
      width: 20px;
    }
    .fourth_section .container {
      padding: 0 !important;
    }
    /* fourth section */

    /* fifth section */
    .investment_wrapper {
      display: flex;
      gap: 30px;
      justify-content: center;
      width:100%;
      margin-bottom:20px;
    }
    .investment_card {
      margin: 0;
    }
    .investment_card.first {
      margin: 0;
    }
    /* fifth section */

    /* sixth section */
    .instruction {
      margin-bottom: 50px;
    }
    /* sixth section */

    /* seventh section */
    .second_form{
      max-width: 450px;
    }
    .second_form h3{
      font-size:24px;
      line-height:30px;
    }
    .second_form input, .second_form .submit_btn, #phone2{
      width:350px;
    }
    .seventh_section{
      /* background-image: url('~@/assets/img/bg_t.jpg'); */
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain;
      padding-top: 78px;
      padding-bottom: 78px;
    }
    /* seventh section */

    /* footer */
    footer {
      height: 85px;
    }
    footer p {
      color: rgba(125, 125, 125, 1);
      font-size: 20px;
      text-align: right;
      margin: 0;
      font-family: "Nunito", sans-serif;
      padding-bottom: 0px;
    }
    .footer_wrapper {
      padding-top: 0px;
      padding-bottom: 0px;
      height: 85px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap:wrap;
      width:100%;
    }
    .logo {
      padding-top: 0px;
      padding-bottom: 0;
    }
    /* footer */
  }
  @media (min-width: 992px) {
    /* h2 {
      margin-top: 80px !important;
    } */
    /* header */
    /* header */

    /* first section */
    .first_section {
      padding-top: 40px;
    }
    .first_section h3 {
      font-size: 28px;
      line-height: 35px;
      max-width: 540px;
      margin-bottom: 10px;
    }
    .input_wrapper input {
      width: 350px;
    }
    #phone1 {
      width: 350px;
    }
    .first_section .submit_btn {
      width: 194px;
      font-size: 20px;
      margin-top: 30px;
    }
    .first_section form {
      align-items: flex-start;
    }
    /* first section */

    /* second section */
    /* second section */

    /* third section */
    .advantage_wrapper {
      display: flex;
      gap: 30px;
      width:100%;
    }
    .advantage_card {
      height: 285px;
      padding-right: 20px;
      padding-left: 20px;
      justify-content: flex-start;
    }
    .advantage_card img {
      margin-top: 36px;
    }
    /* third section */

    /* fourth section */
    .deal {
      width: 920px;
      max-width: 920px;
    }
    .deals_header {
      width: 920px;
      max-width: 920px;
      margin: auto;
      margin-bottom: 15px;
    }
    /* fourth section */

    /* fifth section */
    /* fifth section */

    /* sixth section */
    /* sixth section */

    /* seventh section */
    /* seventh section */

    /* footer */
    /* footer */
  }
  @media (min-width: 1200px) {
    /* header */
    .openbtn,
    .sidebar {
      display: none;
    }
    .header_nav {
      display: flex;
    }
    .header_nav ul {
      display: flex;
      list-style: none;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;
    }
    .header_nav a,
    .header_nav a:visited {
      color: rgba(255, 255, 255, 1)!important;
      font-size: 0.9rem;
      text-decoration: none;
      max-width: 270px;
      padding-right: 30px;
      font-weight: normal;
    }
    .btn_a {
      width: 270px;
      margin-left: 0;
      height: 53px;
    }
    .header_nav li .btn_a a {
      color: rgba(51, 51, 51, 1)!important;
      font-size: 22px;
      width: 222px;
      height: 46px;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      padding-top: 8px;
      font-weight: 900;
    }
    /* header */

    /* first section */
    /* first section */

    /* second section */
    .second_section hr {
      max-width: 830px;
      margin: auto;
    }
    .blockqoute {
      font-size: 32px;
      line-height: 48px;
    }
    /* second section */

    /* third section */
    .advantage_card {
      height: 255px;
    }
    /* third section */

    /* fourth section */
    /* fourth section */

    /* fifth section */
    .arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #2b2f36;
      border-radius: 10px;
      height: 90px;
      width: 90px;
    }
    .investment_wrapper {
      gap: 65px;
      align-items: center;
      width:100%;
    }
    .investment_card {
      max-width: 350px;
    }
    /* fifth section */

    /* sixth section */
    .instruction {
      margin-bottom: 90px;
    }
    /* sixth section */

    /* seventh section */
    .second_form{
      max-width: 550px;
    }
    .second_form h3{
      font-size:28px;
      line-height:35px;
    }
    .seventh_section{
      background-image: url('~@/assets/img/bg_d.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: contain;
      padding-top: 85px;
      padding-bottom: 85px;
    }
    /* seventh section */

    /* footer */
    /* footer */
  }
  @media (max-width: 385px) {
    .input_wrapper {
      width: 280px;
    }
    #phone1 {
      width: 280px;
    }
    .second_form {
      max-width: 90%;
    }
  }
  @media (max-width: 345px) {
    .deal {
      grid-template-columns: 0.8fr 1fr;
    }
    .second_form input, .second_form .submit_btn, #phone2{
      width:260px;
    }
  }

  .form_message.error.inactive{
      display: none;
  }
  .form_message.error.active{
      display: block;
  }
  .v-input__slot ,.vue-tel-input-vuetify{
  width: 350px!important;

}
fieldset{
  background-color: #2c2f38!important;
}
fieldset{
border:2px solid #fff;
}
.btn-locale-wrapper{
  position: fixed;
  bottom:20px;
  right:20px;
}
.teli .v-input__slot{
  width: 275px!important;
}

.second_form input, #phone2{
  background-color: transparent!important;
}
#second_form .contact-wrapper{
  max-width: 70%!important;
}
.btn_reg {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
#first_form .btn_reg {
  justify-content: left!important;
}
.btn_reg button{
height: 48px!important;
    background: rgba(240, 185, 11, 1)!important;
    border-radius: 10px!important;
    border: none!important;
    color: rgba(34, 34, 34, 1)!important;
    font-size: 16px!important;
    font-weight: 600!important;

}
#deal .form_link{
margin-bottom:20px;
}
.btn-locale-item img{
  width: 26px !important;
  height: 34px;
}
.locale-img-wrapper {
border-radius: 50%;
overflow: hidden;
width: 24px;
height: 23px;
display: flex;
justify-content: center;
align-items: center;
}
.btn-selected-lang{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.btn-selected-lang img{
  min-width: 44px;
  height: 64px;
}
.btn-locale-hover {
  display: none;
  position: absolute;
  right: 50px;

  text-shadow: 1px 1px 1px rgb(0 0 0);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.v-btn__content:hover .btn-locale-hover{
  display: block;
}
.v-btn__content {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
}
.v-text-field__slot input::placeholder{
  color: rgba(255, 255, 255, 0.24)!important
}
.v-text-field__slot label{
  color: rgba(255, 255, 255, 0.24)!important
}
@media screen and (max-width:780px){
  body,html{
    overflow-x: hidden;
  }
  .why{
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center!important;
  }
  .why__item{
    width:90%!important;
  }
  .investment-comp{
    padding:20px 0px!important;
  }
  .v-input__slot, .vue-tel-input-vuetify{
    width:100%!important;
  }
  #second_form .contact-wrapper{
    max-width:100%!important;
  }
  .seventh_section .teli fieldset{
max-width:73%;
  }
  .seventh_section .contact-wrapper{
    overflow: hidden;
  }
  #first_form .teli fieldset{
    max-width:92%;
  }
}



.v-text-field--outlined fieldset {
  border-collapse: collapse;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -5px;
  transition-duration: 0.3s;
  transition-property: color, border-width;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

.v-text-field--outlined fieldset{
  border-color: #fff!important;
}
.investment-sec .section__title{
  font-family: "IBM Plex Sans", sans-serif!important;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 42px;

color: #FFFFFF;

}
.section-three.section.investment-sec{
  background-color: #1F2025;
  padding: 0px 0px 98px 0px;
}
.why__item{
  background: #1F2025;
opacity: 0.9;
box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
border-radius: 8px;
width: calc(50% - 20px);
margin: 10px;
display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:100px 0;margin:0 -15px;
align-items: center;
padding: 25px 30px;
margin-top:38px;
}
.section-three.section.investment-sec .why{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why__item-left-wrap{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background: linear-gradient(180deg, #292C33 0%, rgba(41, 44, 51, 0) 100%);
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    width: 85px !important;
    height: 85px !important;
}
 .why__item-right {
  margin-left: 30px;
}
.why__item-title{
  font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
font-family: "IBM Plex Sans", sans-serif!important;
}
.why__item-description{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
font-family: "IBM Plex Sans", sans-serif!important;
color: #FFFFFF;
}
.btn-wrapper {
  text-align: center;
  margin-top: 50px;
}
.btn-wrapper a{
  background: linear-gradient(165.71deg, #F3BA0D 10.15%, #F39636 93.88%);
box-shadow: 0px 7px 34px rgba(0, 0, 0, 0.3);
border-radius: 8px;
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 32px;
/* identical to box height */
font-family: "IBM Plex Sans", sans-serif!important;
text-transform: uppercase;
text-decoration: none;
color: rgba(0, 0, 0, 0.87)!important;
padding: 13px;
}
.investment-comp{
  background: #292C33;
  padding: 0px 0px 75px 0px;

}
.investment-comp .section__text{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif!important;
  color: #FFFFFF;
  max-width:640px;
  text-align: center;
  margin: 38px auto;
}
.comp__logos{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.logo__item{
  max-width: 210px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;

    background: #1F2025;
    opacity: 0.9;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    overflow: hidden;
    margin: 40px 25px 0;
}
.logo__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background: #292C33;
}
.logo__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: "IBM Plex Sans", sans-serif!important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #6F737C;
}
.logo__item-right{
  height:100%;
  background: #1F2025;
}
.logo__item-right-text{
  text-align: center;
  color:#fff
}
.section__text-bottom{
  margin-top: 38px;;
}
.header_wrapper .logo img{
  max-width:224px;
  width:100%;
}
footer img{
  max-width:224px;
}
.copy_text{
  text-align: center;
  border-bottom:1px solid white;
  padding:50px 0px;
  margin-bottom:30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
}
.vp-title{
  display: none!important;
  opacity:0px!important;
}
.theme--light.v-input input,
.theme--light.v-input textarea {
  color: white!important;
}
.v-label--active{
opacity: 0;
}
.vue-tel-input-vuetify .v-text-field--outlined .v-select__selections .vti__flag {
  margin-left: 15px!important;
}
.vue-tel-input .vti__input {
  color: white!important;
}
span.vti__country-code {
  color: white!important;
}
