<template>
  <v-app>
    <Header />
    <TitleBar />
    <JoinUs />
    <Testimonial />
        <WhatC />
        <investment />
    <HowItWorks />
    <FaqTop />
    <Footer />
    <div class="btn-locale-wrapper">
      <v-speed-dial
        v-model="fab"
        :bottom="true"
        :right="true"
        direction="top"
        transition="slide-y-reverse-transition"
        class="btn-locale"
      >
        <template v-slot:activator>
          <v-btn v-model="fab" color="blue darken-2" dark fab>
            <v-icon v-if="fab"> mdi-close </v-icon>
              <div v-else  class="btn-selected-lang">
                <img 
                :src="selectedLocale.img" 
                :alt="selectedLocale.locale"
              >
              </div>
          </v-btn>
        </template>
        <v-btn 
          fab 
          dark 
          x-small 
          color="indigo"
          v-for="loc in allLocales"
          :key="loc.locale"
          @click="changeLocale(loc)"
          class="btn-locale-item"
        >
          <span class="btn-locale-hover">{{ loc.lang }}</span>
          <div class="locale-img-wrapper">
            <img 
            :src="loc.img" 
            :alt="loc.locale"
          >
          </div>
        </v-btn>
      </v-speed-dial>
    </div>
  </v-app>
</template>

<script>

import FaqTop from "./components/sections/FaqTop.vue";

import Footer from "./components/sections/Footer.vue";
import Header from "./components/sections/Header.vue";
import HowItWorks from "./components/sections/HowItWorks.vue";
import JoinUs from "./components/sections/JoinUs.vue";

import Testimonial from "./components/sections/Testimonial.vue";
import TitleBar from "./components/sections/TitleBar.vue";
import WhatC from "./components/sections/whatCan.vue";
import investment from "./components/sections/investment.vue"

export default {
  name: "App",
  components: {
    Header,
    TitleBar,
    JoinUs,
    Testimonial,
    HowItWorks,
    FaqTop,
    WhatC,
    investment,
    Footer,

  },
  data() {
    return {
      fab: false,
      locale: null,
      selectedLocale: { 
        lang: "", 
        locale: "", 
        img: "" 
      },
      allLocales: [
        {
          lang: "Russian", 
          locale: "ru", 
          img: require('@/assets/img/lang/ru.png') 
        },
        {
          lang: "German", 
          locale: "de", 
          img: require('@/assets/img/lang/de.png') 
        },
        {
          lang: "English", 
          locale: "en", 
          img: require('@/assets/img/lang/en.png') 
        },
   
        // {
        //   lang: "Swedish", 
        //   locale: "sv", 
        //   img: require('@/assets/img/lang/sv.png') 
        // },
 {
  lang: "Spanish", 
         locale: "es", 
         img: require('@/assets/img/lang/es.png') 
       },
 {
       lang: "Italian", 
         locale: "it", 
        img: require('@/assets/img/lang/it.png') 
        },
       {
          lang: "French", 
          locale: "fr", 
         img: require('@/assets/img/lang/fr.png') 
        },
        // {
        //   lang: "Finnish", 
        //   locale: "fi", 
        //   img: require('@/assets/img/lang/fi.png') 
        // },
        // {
        //   lang: "Dutch", 
        //   locale: "nl", 
        //   img: require('@/assets/img/lang/nl.png') 
        // },
        // {
        //   lang: "Danish", 
        //   locale: "da", 
        //   img: require('@/assets/img/lang/da.png') 
        // }    
      ],
    };
  },
  created() {
    let localeUser = '';
    if (navigator.language) {
      localeUser = navigator.language.substr(0, 2);
    } else {
      localeUser = 'en';
    }
    
    let filteredLocale = this.allLocales.filter(item => {
      if (item.locale == localeUser) {
        return item.locale;
      }
    });

    if (filteredLocale.length > 0) {
      this.locale = filteredLocale[0].locale;
    } else {
      this.locale = 'en';
    }

    console.log(this.locale)

    const selectedLanguage = this.allLocales.filter(lang => lang.locale == this.locale)

    this.selectedLocale = {
      lang: selectedLanguage[0].lang, 
      locale: selectedLanguage[0].locale, 
      img: selectedLanguage[0].img 
    };

    this.$i18n.locale = this.locale;
  },
  methods: {
    changeLocale(loc) {

      this.selectedLocale = {
        lang: loc.lang, 
        locale: loc.locale, 
        img: loc.img 
      };

      this.$i18n.locale = loc.locale;
      localStorage.setItem("locale", loc.locale);
    },
  },
};
</script>

<style>
@import url('http://fonts.cdnfonts.com/css/ibm-plex-sans-condensed-2');
@import "./assets/style.css";

</style>
